* {
    margin: 0px; /* margen externo */
    padding: 0px; /* margen interno */
}
h1 { 
    font-family: 'Bilbo Swash Caps', cursive;
    color: greenyellow;
    background-color:black
}

h2 {
    font-family: 'Zen Old Mincho', serif; 
    color : rebeccapurple;
    background-color: black;
}
p {
    background-color:rgb(255, 168, 6);
}
span {
    background-color: rgb(255, 147, 15);
}
div {
}
ul {
    list-style: none;
    padding: 0 16px;
}
header {
    position: sticky; /* BAJA BARRA NAV */
    top: 0px;
}
main {
    flex-wrap: wrap;
    width: 100vw;
}
.header__item  {
    display: inline; /* ALINEAR NAVEGACION */
    padding: 15px;
}
.header__item a {
    color: white;
    text-decoration: none;
}
.header__nav {
    background-color: orange;
    flex-wrap: wrap;
    display: flex;
}
.header__lista {
    display: flex;
    flex-wrap: wrap;
}
    .titulo-verde {
        color:blueviolet;
        background-color: black;
        background-position: center;
    .background-negro {
        background-color: black; 
        }
        .galeria__img--promedio {
            width: 400px;
            height: 500px;
            padding: 30px;
            justify-content: space-between;
            border-radius: 20%;
        
        }
        .galeria {
            background-image: linear-gradient(to right, beige, orange);
            display: flex;
            flex-wrap: wrap;
            padding: 100px;
            margin: 60px;
            flex-grow: 1;
    }
    }
.carrousel_altura {
    height: 900px;
}
.producto_grid {
    display: grid; 
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"chica_rubia calle YellowGirl Escaleras"
                        "chica_rubia moreno YellowGirl Escaleras"
                        "Florchica moreno YellowGirl Escaleras"
                        "Florchica Vesti Puerta Otoño "
                        "Des Vesti Puerta Otoño "
                        "Des Vesti Otoño Otoño";
                        row-gap: 10px;
}
.chica_rubia {
    grid-area: chica_rubia;
    background-image: url("../recursos/chica rubia.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.calle {
    grid-area: calle;
    background-image: url("../recursos/calle.jpg");
    background-position: 35% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.YellowGirl {
    grid-area: YellowGirl;
    background-image: url("../recursos/YellowGirl.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Escaleras {
    grid-area: Escaleras;
    background-image: url("../recursos/Escaleras.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.moreno {
    grid-area: moreno;
    background-image: url("../recursos/moreno.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Otoño {
    grid-area: Otoño;
    background-image: url("../recursos/Otoño.jpg");
    background-position: 35% 65%;
    background-size: cover;
    background-repeat: no-repeat;
}
.Florchica {
    grid-area: Florchica;
    background-image: url("../recursos/Florchica.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Vesti {
    grid-area: Vesti;
    background-image: url("../recursos/Vesti.jpg");
    background-position: 35% 65%;
    background-size: cover;
    background-repeat: no-repeat;
}
.Puerta {
    grid-area: Puerta;
    background-image: url("../recursos/Puerta.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Auto {
    grid-area: Auto;
    background-image: url("../recursos/Auto.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Des {
    grid-area: Des;
    background-image: url("../recursos/Des.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.cuero {
    grid-area: cuero;
    background-image: url("../recursos/cuero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    .moda_circular_grid {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 4fr 1fr 1fr 1fr 1fr 1fr 1fr;;
        grid-template-areas:"chicovin VVr VVr retro retro modacircular modacircular"
                            "chicovin VVr VVr retro retro modacircular modacircular"
                            "chicovin chicavint chicavint camperetr camperetr conjunto conjunto"
                            "chicovin chicavint chicavint camperetr camperetr conjunto conjunto"
                            "chicovin chicavint chicavint camperetr camperetr conjunto conjunto"
                            "chicovin chicavint chicavint camperetr camperetr conjunto conjunto"
                            "chicovin chicavint chicavint camperetr camperetr conjunto conjunto"

    .chicovin {
        grid-area: chicovin;
        background-image: url("../recursos/chicovin.jpg");
        background-position: 35% 65%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .VVr {
        grid-area: VVr;
        background-image: url("../recursos/VVr.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .retro {
        grid-area: retro;
        background-image: url("../recursos/retro.jpg" );
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .modacircular {
        grid-area: modacircular;
        background-image: url("../recursos/modacircular.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .chicavint {
        grid-area: chicavint;
        background-image: url("../recursos/chicavint.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .camperaretr {
        grid-area: camperetr;
        background-image: url("../recursos/camperetr.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .conjunto {
        grid-area: conjunto;
        background-image: url("../recursos/conjunto.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    }

.galeria__img--pie {
    width: 50px;
    height: 50px;
}
.keyframe {
    animation-name: loop;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 5s;
}

/* MEDIA DE CELULAR */
@media (min-width: 320px) and (max-width: 575px){
    header {
        heigth: auto;
    }
    .header__lista {
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }
    .header__nav {
        flex-direction: column;
    }
    .producto_grid {
        height: auto;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        row-gap: 10px;
    }
.chica_rubia {
    grid-column: 1/2;
    grid-row: 1/2;
}
.calle {
    grid-column: 1/2;
    grid-row: 2/3;
}
.YellowGirl {
    grid-column: 1/2;
    grid-row: 3/4;
}
.Escaleras {
    grid-column: 1/2;
    grid-row: 4/5;
}
.moreno {
    grid-column: 1/2;
    grid-row: 5/6;
}
.Otoño {
    grid-column: 1/2;
    grid-row: 6/7;
}
.Florchica {
    grid-column: 1/2;
    grid-row: 7/8;
}
.Vesti {
    grid-column: 1/2;
    grid-row: 8/9;
}
.Puerta {
    grid-column: 1/2;
    grid-row: 9/10;
}
.Auto {
    grid-column: 1/2;
    grid-row: 10/11;
}
.Des {
    grid-column: 1/2;
    grid-row: 11/12; 
}
.cuero {
    grid-column: 1/2;
    grid-row: 12/13; 
}
}
/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    header {
        height: auto
    }
    .header__lista {
        flex-grow: 0;
    }
    .header__nav {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .producto_grid {
        height: auto;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr) 0,25fr;
        row-gap: 15px;
    }
    .chica_rubia {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .calle {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .YellowGirl {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .Escaleras {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .moreno {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .Otoño {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .Florchica {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .Vesti {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .Puerta {
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .Auto {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .Des {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .cuero {
        grid-column: 3/4;
        grid-row: 7/8;
    }
}
.Gradienteip {
    background-image: linear-gradient(to right, beige, white);
}